<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Example</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                {% for c in column_info %}
                <th>{{c[0]}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in table_info %}
            <tr>
                {% set out_l_i = loop.index %}
                {% for entry in row %}
                    {% if column_info[loop.index - 1][1] == 1 %}
                    <td><a href="/{{entry}}">{{mul_info[out_l_i-1][loop.index-1]}}</a></td>
                    {% else %}
                    <td>{{entry}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
            <!-- Add more rows here if needed -->
        </tbody>
    </table>
</body>
</html>
